/* line 1, ../../app/stylesheets/paint.sass */
.easel {
  display: table;
  margin: 0 auto;
}
/* line 4, ../../app/stylesheets/paint.sass */
.easel .canvas {
  border-style: solid;
  border-width: 1px;
  float: left;
}
/* line 8, ../../app/stylesheets/paint.sass */
.easel .palette {
  float: left;
}
/* line 10, ../../app/stylesheets/paint.sass */
.easel .palette .color {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
}
/* line 16, ../../app/stylesheets/paint.sass */
.easel .palette .selected {
  border-color: #66ffff;
  border-width: 1px;
}
/* line 19, ../../app/stylesheets/paint.sass */
.easel .palette #black {
  background-color: black;
}
/* line 21, ../../app/stylesheets/paint.sass */
.easel .palette #white {
  background-color: white;
}
/* line 23, ../../app/stylesheets/paint.sass */
.easel .palette #blue {
  background-color: blue;
}
/* line 25, ../../app/stylesheets/paint.sass */
.easel .palette #red {
  background-color: red;
}
