@import "compass"
@import "compass/css3/box-shadow"

.bruce-lee
  width: 300px
  height: 300px
  
#belikewater
  margin-bottom: 30px
.bruce-lee
  display: table
  margin : 0 auto
  margin-top: 200px
  width: 50%
  height: 50%
  
.pane
  background-color: white
  margin-top: 50px
  //padding: 20px
  +single-box-shadow
  +border-radius(3px)
#comment
  width: 500px
#comment-display
  margin-top: 10px
  margin-bottom: 20px
#comment-entry
  width: 500px
  height: 200px
  display: none
  
#sleep-form
  select
    width: 60px

.new-field
  width: 100px
  padding: 5px
  margin-bottom: 0