.easel
  display : table
  margin : 0 auto
  .canvas
    border-style : solid
    border-width : 1px
    float : left
  .palette
    float : left
    .color
      width : 10px
      height : 10px 
      border-style: solid
      border-width: 1px
      padding : 1px
    .selected
      border-color : #6FF
      border-width : 1px
    #black
      background-color : #000
    #white
      background-color : #FFF
    #blue
      background-color : #00F
    #red
      background-color : #F00
    