= stylesheet_link_tag 'strobe'

:javascript
  $(document).ready(function() {
    window.setInterval(strobeFuck,10);
  });
  
  function strobeFuck()
  {
    randomNum = Math.ceil(Math.random()* 16777216);
    hexValue = "#" + randomNum.toString(16);
    console.log(hexValue);
    $('#strobe').css({"background-color" : hexValue});
  }

#strobe
  