.content
  %h1 Your painting
  %canvas.canvas{:width => 600,:height => 450}
  .palette
    %table
      %tr
        %td
          .color#black
        %td
          .color#white
      %tr
        %td
          .color#blue
        %td
          .color#red
      