.content
  %h1 Your painting
  .easel
    %ul
      %li
        %canvas.canvas#0{:width => 400,:height => 300}
      %li
        .palette
          %table
            %tr
              %td
                .color#black.selected
              %td
                .color#white
            %tr
              %td
                .color#blue
              %td
                .color#red
      